// Variables
$bg-color: #fe639c;
$text-color: #fff;
$btn-hover-color: #ffd700;

// style bootstrap
$card-border-radius: 15px;

@import"./bootstrap-5.3.3/scss/bootstrap.scss";




// Mixins
@mixin card-styles {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 25%;
    background-color: $bg-color;
}

// Styles
.bg-color {
    background-color: $bg-color;
}

.navbar-nav .nav-link {
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
}

.card {
    @include card-styles;
}

.card-text {
    text-align: center;
    color: $text-color;
}

.card-title {
    color: $text-color;
}

.tampilkan:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: $btn-hover-color;
}

.floating-btn {
    z-index: 9999999999999999999999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $bg-color;
    color: $text-color;
    border: solid 1px white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: $btn-hover-color;
    }
}

// Sass External Style Sheet
.hero-content {
    background-image: url("img/Group 10.png");
    background-size: cover;
    background-position: center;

    h1 {
        margin-bottom: 20px;
        color: #fe639c;
        font-family: "Kaushan Script";
        font-size: 70px;
    }

    p {
        color: #fe639c;
    }

    .btn {
        background-color: #fe639c;

        &:hover {
            background-color: #ff8db2; // Tambahan untuk mengganti warna tombol saat dihover
        }
    }
}

.hero-image {
    width: 70%;
    height: auto;
}

.about {
    padding-top: 5rem; // py-5
    padding-bottom: 5rem; // py-5
    color: white; // text-white
    background-color: #fe639c; // background-color

    .container {
        h2 {
            font-family: "Berkshire Swash";
            text-align: center; // text-center
            margin-bottom: 2rem; // mb-4
        }

        p {
            text-align: center; // text-center
        }
    }
}

.products {
    padding-top: 5rem; // py-5
    padding-bottom: 5rem; // py-5

    .produk-heading {
        color: #fe639c; // warna teks
        font-family: "Berkshire Swash"; // font-family
        margin-top: 2%; // margin-top
        text-align: center; // text-center
    }

    .produk-row {
        margin-top: 7%; // margin-top untuk baris produk
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &.tampilkan {
            cursor: pointer;
        }

        .card-img {
            display: block;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            background-size: cover;
            height: 80%;
            width: 80%;
        }

        .card-text {
            font-size: larger; // font-size
        }

        .card-title {
            text-align: center; // text-align
        }
    }
}

// Gaya untuk modal "Detail Produk"
#modalToggle {
    .modal-dialog {
        .modal-content {
            background-color: $bg-color;

            .modal-header {
                border-bottom: none;
                padding: 20px;
                text-align: center;

                .modal-title {
                    font-size: 1.25rem; // 20px
                    &.text-white {
                        color: white;
                    }
                }

                .btn-close {
                    color: white;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .modal-body {
                border-top: 2px solid white;
                border-bottom: 2px solid white;
                padding: 20px;
                .card-wrapper {
                    .col-md-4 {
                        &.mb-2 {
                            margin-bottom: 0.5rem;
                        }
                    }

                    .card-body {
                        .card-title.product-name {
                            // Atur gaya sesuai kebutuhan
                        }

                        .text-white {
                            // Atur gaya sesuai kebutuhan
                        }
                    }
                }
            }

            .modal-footer {
                .btn {
                    &.btn-outline-light {
                        border-color: white;
                        color: $text-color;
                        &:hover {
                            background-color: white;
                            color: $bg-color;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.testimonial-section {
    background-color: #fe639c;

    .testimonial-container {
        border-radius: 20px;
        overflow: hidden;

        .testimonial-item {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 15px;
            height: 100%;

            h4 {
                // Your styles here
            }

            p.text-muted {
                // Your styles here
            }

            .rating {
                color: #ffd700;

                p {
                    color: black;
                }
            }
        }
    }
}

.contact {
    .container {
        h2 {
            color: #fe639c;
            font-family: "Berkshire Swash";
            text-align: center;
            margin-bottom: 1.5rem;
        }

        p {
            color: #fe639c;
            text-align: center;
            margin-bottom: 2rem;
        }

        .row {
            .col-md-3 {
                margin-bottom: 1.5rem;

                .btn-kontak {
                    border-radius: 20px;
                    background-color: #fe639c;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: #fff;
                    padding: 0.5rem;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #ff8db2;
                    }

                    i {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

.footer-section {
    footer {
        background-color: #fe639c;

        .nav {
            justify-content: center;
            margin-bottom: 1rem;

            .nav-item {
                .nav-link {
                    &.text-white {
                        color: #fff;
                    }
                }
            }
        }

        .separator {
            height: 3px;
            background-color: white;
            color: white;
            border: none;
        }

        .container {
            .row {
                .col-4 {
                    &:first-child {
                        text-align: left;
                    }

                    &:nth-child(2) {
                        text-align: center;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }
                .col-4.text-center {
                    text-align: center;

                    a {
                        img.col-4 {
                            width: 70px;
                        }
                    }
                }

                img {
                    width: 25px;
                }
            }
        }
    }
}

//  untuk modal
.modal {
    .fade {
        &.show {
            display: block;
        }
    }
    .modal-dialog {
        .modal-content {
            background-color: white;
            border-radius: 20px;
            .modal-header {
                border-bottom: none;
                padding: 20px;
                text-align: center;
                .modal-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $bg-color;
                }
                .btn-close {
                    color: $bg-color;
                    font-size: 1.5rem;
                    font-weight: bold;
                    opacity: 1;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            .modal-body {
                padding: 20px;
                .form-label {
                    font-weight: bold;
                    color: $bg-color;
                }
                .form-control {
                    border-radius: 10px;
                    border-color: $bg-color;
                    &:focus {
                        box-shadow: none;
                        border-color: $bg-color;
                    }
                    &::placeholder {
                        color: $bg-color;
                    }
                }
                textarea.form-control {
                    resize: none;
                }
            }
            .modal-footer {
                border-top: none;
                padding: 20px;
                justify-content: center;
                .btn {
                    border-radius: 10px;
                    padding: 10px 20px;
                    font-weight: bold;
                    &.btn-secondary {
                        color: white;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    &.text-white {
                        background-color: $bg-color;
                        color: white;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
